name: Test Workflow

on:
  push:
    branches: [main]
  pull_request:

permissions:
  contents: read
  actions: write
  packages: read

jobs:
  build:
    uses: tehw0lf/workflows/.github/workflows/build-test-publish.yml@main
    secrets: inherit
    with:
      event_name: ${{ github.event_name }}
      tool: npm
      artifact_path: dist
